.kp2-authapi-paranja {
    animation: fade-in 0.2s ease-out;
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    left: 0;
    opacity: 1;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 0.2s;
    z-index: 9998;
}

.kp2-authapi-paranja_hidden {
    opacity: 0;
}

.kp2-authapi-overlay {
    bottom: 0;
    display: flex;
    left: 0;
    opacity: 1;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 0.2s;
    z-index: 9999;
}

.kp2-authapi-overlay_hidden {
    opacity: 0;
}

.kp2-authapi_ios .kp2-authapi-overlay:not(.kp2-authapi-overlay_theme_touch) {
    bottom: auto;
    position: absolute;
    top: 100px !important;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.kp2-authapi-iframe-wrapper {
    animation: slide-up 0.3s ease-out;
    background: #fff;
    border: none;
    border-radius: 6px;
    height: 481px;
    margin: auto !important;
    opacity: 0;
    overflow: hidden;
    transform: translateZ(0);
    transition: opacity 0.2s, width 0.2s linear, height 0.2s linear, margin 0.2s linear;
    width: 460px;
}

.kp2-authapi-iframe-wrapper_inserted {
    opacity: 1;
}

.kp2-authapi-iframe-wrapper::after {
    animation: rotate 0.75s linear infinite;
    border: 2px solid transparent;
    border-left-color: #fe7609;
    border-radius: 50%;
    border-top-color: #fe7609;
    content: '';
    height: 20px;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 1;
    position: absolute;
    top: 50%;
    transition: opacity 0.2s;
    width: 20px;
}

.kp2-authapi-iframe-wrapper_inited::after {
    display: none;
    opacity: 0;
}

.kp2-authapi-iframe-wrapper_theme_touch {
    animation: none;
    height: 100%;
    left: 0;
    margin: 0;
    top: 0;
    width: 100%;
    border-radius: 0;
}

.kp2-authapi-paranja_theme_touch {
    display: none;
}

.kp2-authapi-iframe {
    background: #fff;
    border: none;
    display: block;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

@keyframes slide-up {
    from {
        transform: translateY(50px);
    }
    to {
        transform: translateY(0px);
    }
}
